---
interface Props {
    pageTitle?: String;
}
const { pageTitle = "" } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Astro curso | {pageTitle}</title>
    </head>
    <body>
        <slot />
    </body>

    <style>
        body {
            background-color: #2e2e2e;
            color: white;
            font-family: "Montserrat";
        }
    </style>
</html>
