---
import Layout from "../components/Layout.astro";

import { ButtonSubscribe } from "../components/ButtonSubscribe";
---

<Layout pageTitle="Inicio">
	<h1>Home Page</h1>

	<ButtonSubscribe client:load />
</Layout>
