---
import { literal } from "astro:schema";

const title = "Prueba de proyecto en Astro";

const color = "warning";

const hobbies = [
	"Programar",
	"Leer",
	"Escribir",
	"Comer",
	"Dormir",
	"Ver televisión",
	"Ejercitar",
	"Actuar",
];
const isActive = false;
---

<section class="properties">
	<div class="properties__logo-container">
		<h2 class="logo">Logo</h2>
	</div>
	<div class="properties__descrtiption">
		<ul class="description__list">
			<li class="list__item">Item</li>
			<li class="list__item">Item</li>
			<li class="list__item">Item</li>
			<li class="list__item">Item</li>
		</ul>
		<h3 class="danger">
			{
				isActive
					? "El usuario esta activo"
					: "El usuario esta desactivado"
			}
		</h3>
	</div>
</section>
<style>
	body {
		background-color: #2e2e2e;
		font-family: "Montserrat";
	}
	ul {
		list-style: none;
	}

	.properties {
		width: 100%;
		display: flex;
		border: 2px solid rgba(255, 255, 255, 0.5);
		padding: 10px 15px;
		border-radius: 10px;
	}

	.properties__logo-container {
		flex-basis: 30%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(255, 255, 255, 0.5);
	}

	.list__item {
		color: white;
		margin: 5px 0;
	}

	.danger {
		color: red;
	}
</style>
