---
import Layout from "../components/Layout.astro";
---

<Layout pageTitle="Servicios">
    <h1>Mis servicios</h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum eaque
        adipisci fugit minima culpa sit veniam molestiae? Est porro, aliquam
        eius sit pariatur voluptatibus accusamus, delectus aut quod, minus
        reiciendis.
    </p>
</Layout>
