---
import Card from "../components/card.astro";
---

<h1>Mis servicios</h1>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum eaque
    adipisci fugit minima culpa sit veniam molestiae? Est porro, aliquam eius
    sit pariatur voluptatibus accusamus, delectus aut quod, minus reiciendis.
</p>
